<form method="GET" action="/holidays">
  <select name="country">
    <% @countries.each do |k,v| %>
      <option value="<%= k %>"><%= v %></option>
    <% end %>
  </select>
  <input name="year"/><br/>
  <input type="submit" value="Submit"/>
</form>
